@model IEnumerable<浪愛有家.Models.Manager>

@{
    ViewBag.Title = "管理員頁面";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<div class="alert alert-warning alert-dismissible fade show text-center" role="alert" style="font-size:30px;">
    <strong>管理員登入成功</strong> 
    <br />
</div>

<br />
<br />

<div class="jumbotron jumbotron-fluid" style="background-image: url('../../photos/carousel/img_9602.jpg');">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

